{% extends "admin.html" %}
{% block content %}
<div class="col-md-7">
<form>
            <textarea name="editor1">
                This is my textarea to be replaced with CKEditor.
            </textarea>
</form>
</div>
<div class="col-md-3">
</div>
</div>
{% endblock  %}
{% block scripts %}
    <script src="../../static/ckeditor/ckeditor.js"></script>
    <script src="../../static/ckeditor/adapters/jquery.js"></script>
<script>
                    $("#editor1")
                                            .ckeditor();

            </script>
{% endblock %}
