{% extends "admin.html" %}
{% block buttons %}
<center><input id="ajaxsubmit" type="button" class="btn btn-primary" value="  Подтвердить изменения  "/></center>

{% endblock %}
{% block content %}
<div class="col-md-7">
<form  id="about">
            <textarea id="article_about_me" name="article_about_me">{{ article_about_me }}</textarea>
</form>
</div>
<div class="col-md-3">
{% for photo in photos %}
					<div class="thumbnail text-center" id= "{{ photo.key().id() }}">
						<div class="overlay-container">
							<img src="/refresh_about_me_img/{{ photo.key().id() }}" style="width:100%;">
							<div class="overlay-content">
								<a href="/refresh_about_me_img/{{ photo.key().id() }}">http://127.0.0.1:8080/refresh_about_me_img/{{ photo.key().id() }}</a>
								<br><div class="btn btn-danger" onclick="DeletePhoto('{{ photo.key()}}','{{ photo.key().id() }}')">Delete</div>
							</div>
						</div>
					</div>
{% endfor %}
					<form id="photo"><center><div class="thumbnail text-center"><input type="file" name="photo"/><div class="btn btn-default" onclick="AddPhoto()">Submit</div></div></center></form>
</div>
{% endblock  %}
{% block scripts %}
    <script src="../../static/ckeditor/ckeditor.js"></script>
    <script src="../../static/ckeditor/adapters/jquery.js"></script>
<script>

                    $("#article_about_me")
                                            .ckeditor();

$("#ajaxsubmit").click(function()
{
    var postData = {'article': $("#article_about_me").val()};
    $.ajax({
        url : "/admin/submit_articles_about_me",
        type: "GET",
        data : postData,
        dataType: "JSON",
        success: function(result)
        {
            if(result['valid'])
            {
                var message= "<div class='alert alert-success'><a href='#' class='close' data-dismiss='alert'>&times;</a>Успешно Измененно</div>";
                setTimeout(function(){$('#ajaxsubmit').before(message)},3000);
            }
        }
    })
});
function DeletePhoto(key, id)
{
    var url = "/admin/delete_photo/"+key;
    $.ajax(
    {
        url : url,
        type : "POST",
        data :{},
        contentType: false,
        processData: false,
        datatype: "JSON",
        success: function()
        {
            var k = document.getElementById(id);
            k.remove();
        }
    }
    )
}

function AddPhoto()
{
    var data = new FormData($('#photo')[0]);
    $.ajax(
    {
        url : "/admin/add_photo",
        type : "POST",
        data : data,
        contentType: false,
        processData: false,
        dataType: "json",
        success :function(result)
        {
            if(result['valid']){
                var src = "'http://127.0.0.1:8080/refresh_about_me_img/" + result['id'] +"'";
                var new_photo="<div class='thumbnail text-center' id=" +result['id'] +"><div class='overlay-container'><img src="+src+
                " style='width:100%;'>" + "<div class='overlay-content'><a href="+src+">"+src+
                "</a><br><div class='btn btn-danger' onclick=DeletePhoto('"+result['key']+"','"+result['id']+"') >Delete</div></div></div></div>";
                setTimeout(function(){$('#photo').before(new_photo)},3000)
                }
        }

    }
    )

}
</script>
{% endblock %}