{% extends "admin.html" %}

{% block head %}
    <link href="../static/blog/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/blog/css/admin_blog.css">
{% endblock %}

{% block content %}
    <div class="col-md-10">
        <div class="wrap">
            <div class="panel panel-own-full panel-transparent">
                <div class="panel-header">
                    <h1></h1>
                </div>
                <div class="panel-body">
                    <div class="blog-menu">
                        <div class="panel panel-blog-menu panel-blue">
                            <div class="panel-header">
                                <h2>Категории</h2>
                            </div>
                        </div>
                        <div class="panel panel-blog-menu panel-blue">
                            <div class="panel-header">
                                <h2>Добавить категорию</h2>
                            </div>
                            <div class="panel-body">
                                <form id="form-group-add" class="form-group" action="{{ url_for('admin.blog_group_add') }}" method="post" fastform>
                                    <div class="form-group">
                                        <input name="name" type="text" class="form-control" placeholder="Название категорий" required>
                                    </div>
                                    <div class="form-group">
                                        <input name="color" type="text" class="form-control input-colorpicker" placeholder="Цвет катогрии" required>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-default pull-right">Добавить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-blog-menu panel-blue">
                            <div class="panel-body">
                                <form id="form-group-edit" class="form-group" method="post" fastform action-delete="{{ url_for('admin.blog_group_delete', group_id=0) }}" action-edit="{{ url_for('admin.blog_group_edit', group_id=0) }}">
                                    <div class="form-group">
                                        <select class="form-control" not-input select-group>
                                            {% for group in groups %}
                                                <option value="{{ group.key().id() }}" color="{{ group.color }}">{{ group.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input name="name" type="text" class="form-control" placeholder="Название категорий" required>
                                    </div>
                                    <div class="form-group">
                                        <input name="color" type="text" class="form-control input-colorpicker" placeholder="Цвет категории" required />
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" action-name="delete" class="btn btn-default pull-left">Удалить</button>
                                        <button type="submit" action-name="edit" class="btn btn-default pull-right">Изменить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="panel panel-blog-menu panel-blue">
                            <div class="panel-header">
                                <h2>Посты</h2>
                            </div>
                        </div>
                        <div class="panel panel-blog-content panel-blue container-fluid">
                            <div class="panel-header">
                                <h2>Добавить пост</h2>
                            </div>
                            <div class="panel-body">
                                <form class="form-group" fastform action="{{ url_for('admin.blog_add') }}" method="post" id="form-blog-add">
                                    <div class="form-group">
                                        <input name="name" type="text" class="form-control" placeholder="Название поста" required>
                                    </div>
                                    <div class="form-group">
                                        <select name="group" class="form-control" select-group required>
                                            {% for group in groups %}
                                                <option value="{{ group.key().id() }}" color="{{ group.color }}">{{ group.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="content" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-default pull-right">Добавить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% for blog in blogs %}
                            <div class="panel panel-blog-content panel-blue container-fluid" style="background-color: {{ blog.group.color }}">
                                <div class="panel-body">
                                    <form class="form-group" fastform action-edit="{{ url_for('admin.blog_edit', blog_id=blog.key().id()) }}" action-delete="{{ url_for('admin.blog_delete', blog_id=blog.key().id()) }}" method="post" id="form-blog-edit">
                                        <div class="form-group">
                                            <input name="name" type="text" class="form-control" placeholder="Название поста" required value="{{ blog.name }}">
                                        </div>
                                        <div class="form-group">
                                            <select name="group" class="form-control" select-group required>
                                                {% for group in groups %}
                                                    <option value="{{ group.key().id() }}" color="{{ group.color }}" {% if blog.group == group %}selected{% endif %}>{{ group.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <textarea name="content" required>{{ blog.content|safe }}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" action-name="delete" class="btn btn-default pull-left">Удалить</button>
                                            <button type="submit" action-name="edit" class="btn btn-default pull-right">Изменить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                        {#<div class="row text-center">
                            <button type="button" class="btn btn-default" aria-label="Left Align">Загрузить еще</button>
                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="../static/blog/js/bootstrap-colorpicker.js"></script>
    <script src="../static/blog/ckeditor/ckeditor.js"></script>
    <script src="../static/blog/ckeditor/adapters/jquery.js"></script>
    <script src="../static/blog/js/fastforms.js"></script>
    <script src="../static/blog/js/script.js"></script>
{% endblock %}