{% extends 'admin.html' %}

{% block content %}
    <div class="col-md-2">
        <form class="add-font">
            <div class="thumbnail text-center">
                <div class="overlay-container">
                    {{ font_form.hidden_tag() }}
                    <div class="form-group">
                        <div class="form-group">
                        {{ font_form.name(class="form-control", placeholder='Name Google Font') }}
                        </div>
                        <div class="form-group">
                        {{ font_form.link(class="form-control", placeholder='Link Google Font') }}
                        </div>
                        <div class="form-group">
                        {{ font_form.css(class="form-control", placeholder='CSS Google Font') }}
                        </div>
                        <br><div class="btn btn-success" onclick="Add()">Add Font</div>
                    </div>
                </div>
            </div>
        </form>
        {% for font in fonts %}
            <div class="thumbnail text-center" id="{{ font.key() }}">
                <div class="overlay-container">
                <style>{{ font.link|safe }}</style>
                    <p style="{{ font.css|safe }}">{{ font.name }}</p>
                    <div class="overlay-content">
                        <div class="form-group">
                            <div class="btn btn-info select-font" font_id="{{ font.key().id() }}"{% if font_selected %}{% if font.key().id() == font_selected.key().id() %} disabled{% endif %}{% endif %}>Select Font</div>
                        </div>
                        <div class="form-group">
                            <div class="btn btn-danger" onclick="DeleteByKey('{{ font.key() }}')">Delete Font</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function Add()
        {
            var data = new FormData($('.add-font')[0]);
            $.ajax({
                type: "POST",
                url: "{{ url_for('admin.font_add') }}",
                data: data,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (result){
                    if(result['valid'])
                    {
                        location.reload();
                    }
                    else
                    {
                        $('#font').parent().addClass('has-error');
                    }
                }
            })
        }
        $(".select-font").click(function() {
            var $this = $(this);

            $(".select-font").removeAttr("disabled");
            $.get("font/"+$this.attr("font_id"), function() {
                $this.attr("disabled", "");
            });
        });
        function DeleteByKey(key)
        {
            var url = "/admin/delete_by_key/"+key;
            $.ajax(
                    {
                        url : url,
                        type : "POST",
                        data :{},
                        contentType: false,
                        processData: false,
                        datatype: "JSON",
                        success: function()
                        {
                            document.getElementById(key).remove();
                        }
                    }
            )
        }
    </script>
{% endblock %}