{% extends "admin.html" %}
{% block buttons %}

{% endblock %}
{% block content %}
<div class="col-md-1">
</div>
<div class="col-md-2">
    <form class="add-email">
    <div class="thumbnail text-center">
        <div class="overlay-container">
        <div class="form-group">
            {{ email_form.hidden_tag() }}
			{{ email_form.email(class="form-control", placeholder='Email') }}
			    <br><div class="btn btn-success" onclick="AddEmail()">Add EMail</div>

		</div>
		</div>
	</div>
	</form>
	{% for email in emails %}
	    <div class="thumbnail text-center" id="{{ email.key() }}">
            <div class="overlay-container">
			    <p>Email: {{ email.email }}</p>
			    <div class="overlay-content">
			        <br><div class="btn btn-danger" onclick="DeleteByKey('{{ email.key() }}')">Delete EMail</div>
		        </div>
		    </div>
	    </div>
	{% endfor %}
</div>
<div class="col-md-4">
<form class="add-column">
    {{ contacts.hidden_tag() }}
    <div class="thumbnail text-center">
        <div class="overlay-container">
        <div class="form-group" id="columnform">
            {{ contact_form.column(class="form-control", placeholder='Name Column') }}
        </div>
        <div class="form-group" id="valueform">
			{{ contact_form.value(class="form-control", placeholder='Value Column') }}
        </div>
			<br><div class="btn btn-success"  onclick="AddColumn()">Add Column</div>
		</div>
	</div>
</form>
{% for contact in allcontacts %}
	    <div class="thumbnail text-center" id="{{ contact.key() }}">
            <div class="overlay-container">
			    <p>Name Column: {{ contact.nameColumn }}</p><br>
			    <p>Value Column: {{ contact.valueColumn }}</p>
			    <div class="overlay-content">
			        <br><div class="btn btn-danger" onclick="DeleteByKey('{{ contact.key() }}')">Delete Column</div>
		        </div>
		    </div>
	    </div>
	{% endfor %}
</div>
<div class="col-md-3">
<form class="add-network">
    {{ contacts.hidden_tag() }}
    <div class="thumbnail text-center">
        <div class="overlay-container">
        <div class="form-group" id="nameform">
            {{ contacts.name(class="form-control", placeholder='Name Social Network') }}
        </div>
        <div class="form-group" id="urlform">
			{{ contacts.url(class="form-control", placeholder='URL Social Network') }}
        </div>
		<input type="file" name="logo">
			<br><div class="btn btn-success"  onclick="AddNetwork()">Add Network</div>

		</div>
	</div>
</form>
{% for network in networks %}
	    <div class="thumbnail text-center" id="{{ network.key() }}">
            <div class="overlay-container">
                {% if network.logo %}<img src='http://127.0.0.1:8080/logo/{{ network.key() }}' height='100px'>{% else %}{% endif %}
			    <p>Name: {{ network.name }}</p><br>
			    <p>URL: <a href="{{ network.url }}" target="_blank">{{ network.url }}</a></p>
			    <div class="overlay-content">
			        <br><div class="btn btn-danger" onclick="DeleteByKey('{{ network.key() }}')">Delete Network</div>
		        </div>
		    </div>
	    </div>
	{% endfor %}
</div>

{% endblock  %}
{% block scripts %}
<script>
function AddEmail()
{
    var data = new FormData($('.add-email')[0]);
    $.ajax({
    type: "POST",
    url: "add_email",
    data: data,
    contentType: false,
    processData: false,
    dataType: "json",
    success: function (result){
            if(result['valid'])
            {
                   var deleteemail = 'DeleteByKey("'+result['key']+'")';
                   $('.add-email > .form-group').removeClass('has-error');
                   $('#email').val('');
                   var blockemail = "<div class='thumbnail text-center' id='" +result['key'] + "'>" +
                    "<div class=s'overlay-container'><p>Email: "+ result['email']+"</p><div class='overlay-content'><br>" +
                     "<div class='btn btn-danger' onclick='" +deleteemail+ "'>Delete Email" +
                      "</div></div></div></div>";
                   $(".add-email").after(blockemail);
            }
            else
            {
                $('#email').parent().addClass('has-error');
            }
        }
    })

}
function AddColumn()
{
    var data = new FormData($('.add-column')[0]);
    $.ajax({
    type: "POST",
    url: "add_column",
    data: data,
    contentType: false,
    processData: false,
    dataType: "json",
    success: function (result){
            if(result['valid'])
            {
                   var deletecolumn = 'DeleteByKey("'+result['key']+'")';
                   $('#columnform').removeClass('has-error');
                   $('#valueform').removeClass('has-error');
                   $('#column').val('');
                   $('#value').val('');
                   var blockcolumn = "<div class='thumbnail text-center' id='" +result['key'] + "'>" +
                    "<div class=s'overlay-container'><p>Name Column: "+ result['column']+"</p><br>" +
                     "<p>Value: "+result['value']+"<div class='overlay-content'><br>" +
                     "<div class='btn btn-danger' onclick='" +deletecolumn+ "'>Delete Column" +
                      "</div></div></div></div>";
                   $(".add-column").after(blockcolumn);

            }
            else
            {

                if(result['column-error'])
                    {
                        $('#columnform').addClass('has-error');
                    }
                else if(result['value-error'])
                {
                    $('#valueform').addClass('has-error');
                }
            }
        }
    })

}
function AddNetwork()
{
    var data = new FormData($('.add-network')[0]);
    $.ajax({
    type: "POST",
    url: "add_network",
    data: data,
    contentType: false,
    processData: false,
    dataType: "json",
    success: function (result){
            if(result['valid'])
            {
                   var deletenetwork = 'DeleteByKey("'+result['key']+'")';
                   $('#nameform').removeClass('has-error');
                   $('#urlform').removeClass('has-error');
                   $('#name').val('');
                   $('#url').val('');
                   if (result['logo'])
                   {
                        var blocknetwork = "<div class='thumbnail text-center' id='" +result['key'] + "'>" +
                    "<div class=s'overlay-container'><img src='http://127.0.0.1:8080/logo/" +result['key'] + "' height='100px'><br><p>Network: "+ result['name']+"</p><br>" +
                     "<p>URL: <a href='"+result['url']+"'target='_blank'>"+result['url']+"</a><div class='overlay-content'><br>" +
                     "<div class='btn btn-danger' onclick='" +deletenetwork+ "'>Delete Network" +
                      "</div></div></div></div>";
                   $(".add-network").after(blocknetwork);
                   }
                   else
                   {
                   var blocknetwork = "<div class='thumbnail text-center' id='" +result['key'] + "'>" +
                    "<div class=s'overlay-container'><p>Network: "+ result['name']+"</p><br>" +
                     "<p>URL: <a href='"+result['url']+"' target='_blank'>"+result['url']+"</a><div class='overlay-content'><br>" +
                     "<div class='btn btn-danger' onclick='" +deletenetwork+ "'>Delete Network" +
                      "</div></div></div></div>";
                   $(".add-network").after(blocknetwork);
                   }
            }
            else
            {

                if(result['name-error'])
                    {
                        $('#nameform').addClass('has-error');
                    }
                else if(result['url-error'])
                {
                    $('#urlform').addClass('has-error');
                }
            }
        }
    })

}
function DeleteByKey(key)
{
     var url = "/admin/delete_by_key/"+key;
    $.ajax(
    {
        url : url,
        type : "POST",
        data :{},
        contentType: false,
        processData: false,
        datatype: "JSON",
        success: function()
        {
            document.getElementById(key).remove();
        }
    }
    )
}
</script>
{% endblock %}