/*
	Default size
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic);

html
{
    position: relative;
    min-height: 100%;
}

body
{
    background: url(../img/city.jpg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans Condensed';
    font-size: 16px;
    color: white;
    margin: 50px 0 50px 0;
}

a,
a:hover
{
    color: #FFF;
}

.panel
{
    border-radius: 0;
}

.wrap
{
    width: 98%;
    margin: 40px auto;
}

.navbar
{
    border: none;
}

.navbar-own
{
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 52px;
    top: 0;
    z-index: 100000;
}

.navbar-header
{
    background-color: rgba(28, 111, 255, 0.89);
}

.navbar-own .container-fluid
{

}

.navbar-colored
{

    background-color: rgba(28, 111, 255, 0.89);
}


    @media(min-width: 992px) {.super-puper-navbar
{
        width: 300px;
        float: right !important;}
    }



.navbar-own .navbar-brand
{
    color: #ededed;
    font-size: 1.7em;
    font-weight: bolder;
    text-shadow: 0 0 3px #000;
}

.navbar-nav-own
{
    text-align: center;
}

.navbar-nav-own li a
{
    color: white;
    transition: 0.3s all;
    font-size: 1.5em;
    line-height: 1.7em;
    font-weight: 500;
}

.navbar-nav-own li a:hover
{
    color: #1C6FFF;
    background: white;
}

.navbar-nav-own .active a
{
    font-weight: bolder;
    background-color: rgba(255,255,255,0.7);
}

.navbar-form-own
{
    margin: 7px 20px 0 0;
}

.navbar-toggle span
{
    background-color: #FFF;
}

.input-search
{
    border-radius:0;
}

.btn-own
{
    border-radius: 0;
    background: #539E37;
}

.btn-own:hover
{
    background: #64A84A;
}

/*//////////////////////////////////////////////////////*/

.panel-own
{
    display: inline-flex;
    margin: 15px;
    border-radius: 0;
    width: 280px;
    height: 170px;
    padding: 20px;
}

.panel a
{
    text-shadow: 0 0 5px #A0A;
    font-weight: bold;
}

.panel-own-full
{
    border-radius: 0;
}

.panel-own-full .panel-header
{
    text-align: center;
}

.panel-own-full .about-img
{
    width: 250px;
    height: 300px;
    margin: 0 10px 5px 0;
}

.panel-own h1
{
    font-weight: lighter;
    font-size: 40px;
}

.panel-red
{
    background: rgba(128, 13, 0, 0.89);
}

.panel-red.tile:hover
{
    background: rgb(128, 13, 0);
}

.panel-green
{
    background: rgba(54, 138, 26, 0.89);
}

.panel-green.tile:hover
{
    background: rgb(54, 138, 26);
}

.panel-purple
{
    background: rgba(96, 0, 128, 0.89);
}

.panel-purple.tile:hover
{
    background: rgb(96, 0, 128);
}

.panel-blue
{
    background: rgba(0, 128, 115, 0.89);
}

.panel-blue.tile:hover
{
    background: rgb(0, 128, 115);
}

.panel-dark-blue
{
    background: rgba(65, 51, 153, 0.89);
}

.panel-dark-blue.tile:hover
{
    background: rgb(65, 51, 153);
}

.panel-transparent
{
    background: transparent;
}

.tile,
.tile:hover
{
    color: #FFFFFF;
    transition: 0.5s all;
}

.tile:hover
{
    text-decoration: none;
    box-shadow: 0 0 3px 0 #000;
    text-shadow: 0 0 5px #FFF;
}
/*//////////////////////////////////////////////////////*/

.footer-own
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(28, 111, 255, 0.89);;
    text-align: center;
    text-shadow: 0 0 3px #000;
    font-size: 1.1em
}

.footer-own p
{
    margin: 5px;
}


.blog-menu
{
    width: 20%;
    float: left;
}

.panel-blog-menu ul li
{
    list-style-type: none;
    margin:10px;
}

.panel-blog-content
{
    /*text-align: left;*/
}

.panel-blog-content .panel-header
{
    text-align: left;
    margin: 0 0 0 20px;
}

.panel-footer
{
    background-color: transparent;
    border: 0;
}

.blog-content
{
    width: 79%;
    float: right;
}

.centered-text
{
    text-align: center;
}

.activate
{
    font-weight: lighter !important;
}

.panel-body
{
    font-size: 20px;
}
