{% extends "base.html" %}

{% block title %}Про Мене{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="panel panel-own-full panel-red">
            <div class="panel-header">
                <h1>{{ self.title() }}</h1>
            </div>
            <div class="panel-body">
                <!--<div class="col-md-2"><img src="http://www.penrussia.org/new/uploads/2014/06/IMG_8729.jpg" class="about-img" alt="" align="left" /></div>-->
                <div class="col-md-12">
                    <center><strong>Місце роботи та посада</strong></center>
                    <ol><li><a href="http://www.kspu.edu/About/DepartmentAndServices/DContractualWork.aspx?lang=uk"><strong>Херсонський державний університет</strong><br>
                        Керівник відділу господарсько-договірної роботи та виставкової діяльності (2010-)
                        Викладач кафедри інформатики, програмної інженерії та економічної кібернетики (2010 -)</a>
                    </li>
                        <li><a href="http://ite.kspu.edu/"><strong>Збірник наукових праць</strong><br>
                            Відповідальний секретар збірника наукових праць "Інформаційні технології в освіті" (2010-)</a></li>
                        <li><a href="http://www.kspu.edu/About/AcademicCouncil/Specvchenarada.aspx"><strong>Спеціалізована вчена рада</strong></a><br>
                            Технічний секретар спеціалізованої вченої ради К 67.051.02 (2008-)</li>
                        <li><a href=""><strong>Апарат Верховної ради України</strong></a><br>
                            Помічник депутата Верховної ради України Співаковського Олександра Володимировича на громадських засадах (2014-)</li>
                    </ol>
                    <center><strong>Освіта</strong></center>
                    <ol><li><a href="http://www.ksau.kherson.ua/"><strong>Херсонський державний аграрний університет</strong></a><br>
                        1998 р., спеціальність "Водні біоресурси та аквакультура", магістр;
                    </li>
                        <li><a href="http://kntu.net.ua/"><strong>Херсонський національний технічний університет</strong></a><br>
                            2005 р., спеціальність «Економіка підприємства», магістр;
                        </li>
                        <li><a href="http://www.kspu.edu"><strong>Херсонський державний університет</strong><br>
                            2014 р., спеціальність 13.00.04 – теорія та методика професійної освіти, аспірантура;</a>
                        </li>
                    </ol>
                </div><div class="col-md-12"><center><strong>Мови</strong></center>
                <ol><li>Українська
                </li>
                    <li>Російська
                    </li>
                    <li>Англійська (зі словником)
                    </li>
                </ol>
                <center><strong>Участь у проектах</strong></center>
                <ol>
                    <li>На замовлення<br>
                        <ol>
                            <li>2001-2002<br>
                                <ol>
                                    <li><a href="">Програмно-методичний комплекс «Відеоінтерпретатор алгоритмів пошуку та сортування»</a></li>
                                    <li><a href="http://riit.kspu.edu/index.php?q=uk/node/347">Програмне середовище «Системи лінійних рівнянь».</a></li>
                                </ol>
                            </li>
                            <li>2002-2004<br>
                                <ol>
                                    <li><a href="http://riit.kspu.edu/index.php?q=uk/node/348">Програмно-методичний комплекс «ТерМ VII» підтримки практичної навчальної математичної діяльності. Версія 1 реліз 05, версія 2 реліз 03.</a>                               </li>
                                </ol>
                            </li>
                            <li>2005-2006<br>
                                <ol>
                                    <li><a href="http://riit.kspu.edu/index.php?q=uk/node/349">Програмний засіб «Бібліотека електронних наочностей Алгебра 7-9 клас для загальноосвітніх навчальних закладів України».</a></li>
                                </ol>
                            </li>
                            <li>2006-2007<br>
                                <ol>
                                    <li><a href="">5.04.12 Проектування та розроблення Інтернет - технологій і програмного забезпечення дистанційної системи тестування.</a></li>
                                </ol>
                            </li>
                            <li>2007-2008<br>
                                <ol>
                                    <li><a href="">Розроблення інтегрованого середовища вивчення курсу “Основи алгоритмізації та програмування” для вищих навчальних закладів;</a></li>
                                    <li><a href="http://riit.kspu.edu/index.php?q=ru/node/345">Розроблення інтегрованого середовища вивчення курсу «Аналітична геометрія»;</a></li>
                                    <li><a href="http://riit.kspu.edu/index.php?q=ru/node/350">Педагогічний програмний засіб «Алгебра, 7 клас».</a></li>
                                </ol>
                            </li>
                            <li>2008<br>
                                <ol>
                                    <li><a href="http://riit.kspu.edu/index.php?q=ru/node/351">Програмний засіб навчального призначення «Алгебра, 8 клас».</a></li>
                                </ol>
                            </li>
                            <li>2009-2010<br>
                                <ol>
                                    <li><a href="">Створення банку електронних документів з дистанційного навчання для вищої педагогічної освіти;</a></li>
                                    <li><a href="http://riit.kspu.edu/index.php?q=uk/node/344">Розроблення інтегрованого середовища контролю знань студентів з економіко-математичних дисциплін нормативної частини для вищих навчальних закладів для спеціальності 6.050100 «Економіка підприємства», 6.050101 «Економічна теорія»;</a></li>
                                    <li><a href="http://riit.kspu.edu/index.php?q=uk/node/329">Створення Інтернет-порталу дистанційного навчання ECDL для вищих навчальних закладів (ECDL).</a></li>
                                </ol>
                            </li>
                            <li>2015<br>
                                <ol>
                                    <li><a href="">Розроблення системи управління якістю електронних освітніх ресурсів вищих навчальних закладів;</a></li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>Участь у міжнародних проектах<br>
                        <ol>
                            <li>2004-2006<br>
                                <ol>
                                    <li><a href="http://www.kspu.edu/About/DepartmentAndServices/DSAICI/internationalprojects/InternationalProjects/SUNY.aspx">Northern New York and Southern Ukraine:&nbsp;New University Partnership for Business and Economic Development;</a></li>
                                </ol>
                            </li>
                            <li>2009<br>
                                <ol>
                                    <li><a href="http://cenrec.risc.uni-linz.ac.at/portal/">Австрійсько-український проект «CENREC».</a></li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>Власні проекти<br>
                        <ol>
                            <li><a href="http://www.kspu.edu/FileDownload.ashx/%D0%A0%D0%B8%D1%81%D1%83%D0%BD%D0%BE%D0%BA%20(200).jpg?id=6d3e797c-c3b0-4699-b38f-25e25eeac882">Онлайн репозиторій електронних освітніх ресурсів "Edusoft" - edusoft.kspu.edu;</a></li>
                            <li>Tерра Математика <a href="http://www.kspu.edu/FileDownload.ashx/%D0%A0%D0%B8%D1%81%D1%83%D0%BD%D0%BE%D0%BA%20(199).jpg?id=883bd2f5-9bb6-496c-98e5-f590fec8f977">(Алгебра, 7 клас, Алгебра,8 клас)</a> - <a href="http://edusoft.kspu.edu/versions">edusoft.kspu.edu/versions;</a></li>
                            <li>Сервіс для спеціалізованих вчених рад - <a href="http://phd.kspu.edu">phd.kspu.edu;</a></li>
                            <li>Сайт збірника наукових праць «Інформаційні технології в освіті» - <a href="http://ite.kspu.edu">ite.kspu.edu;</a></li>
                            <li>Сервіс REVIEW - <a href="http://review.ite.kspu.edu">review.ite.kspu.edu;</a></li>
                            <li>Сервіс для підримки курсу Групова динаміка та комунікації - <a href="http://fanat.tk">fanat.tk;</a></li>
                            <li>Комп’ютерна програма <a href="http://www.kspu.edu/FileDownload.ashx/%D0%A1%D0%B2%D1%96%D0%B4%D0%BE%D1%86%D1%82%D0%B2%D0%BE%20%D0%BF%D1%80%D0%BE%20%D1%80%D0%B5%D1%94%D1%81%D1%82%D1%80%D0%B0%D1%86%D1%96%D1%8E%20%D0%B0%D0%B2%D1%82%D0%BE%D1%80%D1%81%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE%20%D0%BF%D1%80%D0%B0%D0%B2%D0%B0%20%E2%84%96%2056110%20%D0%BD%D0%B0%20%D1%82%D0%B2%D1%96%D1%80%20%D0%9A%D0%BE%D0%BC%D0%BF'%D1%8E%D1%82%D0%B5%D1%80%D0%BD%D0%B0%20%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%B0%20%D0%94%D0%BE%D0%B3%D0%BE%D0%B2%D1%96%D1%80%D0%BD%D0%B0%20%D1%80%D0%BE%D0%B1%D0%BE%D1%82%D0%B0%20(%D0%B2%D1%96%D0%B4%2018.08.2014).jpg?id=36fdfd1f-ab1a-4802-a238-94dbbdc997a6">"Договірна робота";</a></li>
                            <li>Автоматична (Аналітична) система рейтингів науковців університету в наукометричних базах -  <a href="http://publication.kspu.edu/">publication.kspu.edu;</a></li>
                            <li>Сайт конференцій університету - <a href="http://conf.kspu.edu/">conf.kspu.edu</a></li>
                        </ol>
                    </li>
                </ol>
                <center><strong>Стажування</strong></center>
                <p>2003 рік, ПОЛЬЩА. З 10.05.2003 р. по 18.05.2003 р. у Вищій педагогічній школі м. Ченстахова (Польща)&nbsp;у рамках Угоди про наукове та культурне&nbsp;співробітництво між Херсонським державним університетом та Вищою педагогічною школою. (наказ ХДУ №&nbsp; 327-Д від 07.05.2003 р.)
                    2006 рік, США. Стажування у рамках проекту <a href="http://www.kspu.edu/About/DepartmentAndServices/DSAICI/internationalprojects/InternationalProjects/SUNY.aspx">Northern New York and Southern Ukraine:&nbsp;New University Partnership for Business and Economic Development.</a>  (Наказ ХДУ № 6-В від 22.02.2006р.)</p>
                <center><strong>Професійний досвід:</strong></center>
                <ol>
                    <li><strong>Семінар "Питання управління об"єктами державної власності та майнові питання"</strong><br>
                        Дата проведення:&nbsp;29 -&nbsp;30&nbsp;березня 2012 р., м. Київ (Державне підприємство ВБО)
                    </li>
                    <li><strong>Семінар-практикум «ПІДВИЩЕННЯ WEBOMETRICS РЕЙТИНГУ ВНЗ: ПРАКТИЧНІ ЗАХОДИ». «Три кроки-від новачка до експерта».</strong><br>
                        Дата проведення: 2013 р., м. Київ&nbsp;(Організатором семінару виступило підприємство ПП «Технологічний Центр» (м. Харків). Головний лектор семінару&nbsp; Денис Соловяненко — спеціаліст у галузі наукометрії, вебометрії та інформаційної діяльності, зав. сектору Науково-технічної бібліотеки ім. Г.І. Денисенка Національного технічного університету України “КПІ”, координатор проектів Асоціації УРАН "Наукова періодика України" та "Наука України у дзеркалі наукометричної бази даних SciVerse Scopus", канд. іст. наук.)
                    </li>
                    <li><strong>Семінар&nbsp;&nbsp; «Роль наукових видань в сучасних умовах»</strong><br>
                        Дата проведення: 28 лютого 2013 року, м. Київ (Національний університет харчових технологій спільно з Міністерством освіти і науки, молоді та спорту України)
                    </li>
                </ol>
                <center><strong>Участь у конференціях</strong></center>
                <ol>
                    <li>Член програмного комітету:<br>
                        <ol>
                            <li>11th International Conference on ICT in Education, Research, and Industrial Applications (2015 р.)</li>
                            <li>4th International Workshop on Information technologies in economic research (ITER 2015);</li>
                        </ol>
                    </li>
                </ol>
                <center><strong>Курси що викладаються:</strong></center>
                <ol>
                    <li>Правові питання інформаційних технологій (2010 р.)</li>
                    <li>Групова динаміка та комунікації (2010 р.)</li>
                    <li>Нові інформаційні технології та засоби навчання (2010 р.)</li>
                    <li>Інформаційні технології (2015 р.)</li>
                    <li>Основи наукових досліджень (2010 р.)</li>
                    <li>Менеджмент проектів програмного забезпечення (2013 р.)</li>
                    <li>Економіка програмного забезпечення (2013 р.)</li>
                    <li>Людино-машина взаємодія (2014 р.)</li>
                </ol>

            </div>
            </div>
        </div>
{% endblock %}