<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../../../../static/css/bootstrap.min.css"> {# bootstrap with custom settings #}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Own styles -->
    <link rel="stylesheet" href="../../../../static/css/default.css">
    {# Font #}
    <style>
        {% if settings %}
            {{ settings.font.link|safe }}

            body
            {
            {{ settings.font.css|safe }}
            }
        {% endif %}
    </style>
    {% block header %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% macro nav_link(link, title) -%} {# Example: nav_link([name function in view], title) #}
    {% if request.path == url_for(link) %}
        <li class="active"><a href="{{ url_for(link) }}">{{ title }}<span class="sr-only">(current)</span></a></li>
    {% else %}
        <li><a href="{{ url_for(link) }}">{{ title }}</a></li>
    {% endif %}
{%- endmacro %}
<nav class="navbar navbar-own" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Maxim Vinnik</a>
        </div>
        <div class="collapse navbar-collapse super-puper-navbar navbar-colored" id="navbar1">
            <ul class="nav navbar-nav navbar-nav-own">
                {{ nav_link('index', 'Головна') }}
                {{ nav_link('blog', 'Блог') }}
                {{ nav_link('work', 'Моя робота') }}
                {{ nav_link('education', 'Освіта') }}
                {{ nav_link('projects', 'Участь у проектах') }}
                {{ nav_link('my_projects', 'Власні проекти') }}
                {{ nav_link('traineeship', 'Стажування') }}
                {{ nav_link('courses', 'Курси які викладаю') }}
                {{ nav_link('contact', 'Контакти') }}
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    {% block content %}
    {% endblock %}
</div>

{% block scripts %}
{% endblock %}

<footer class="footer-own">
    <p>Developed by:<br><b>Ivanov Alexey | Savchenko Eugene | Snigoviy Olexandr</b></p>
</footer>
<script async="" src="//www.google-analytics.com/analytics.js"></script><script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61751897-1', 'auto');
    ga('send', 'pageview');
</script>
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>