{% extends "base.html" %}

{% block title %}Блог{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="panel panel-own-full panel-transparent">
            <div class="panel-header">
                <h1>{{ self.title() }}</h1>
            </div>
            <div class="panel-body">
                <div class="col-md-3">
                    <div class="panel panel-blog-menu panel-blue">
                        <div class="panel-header">
                            <h2>Категории</h2>
                        </div>
                        <div class="panel-body">
                            <ul>
                                {% if groups.count() %}
                                    <li><a href="{{ url_for('blog') }}"><span class="glyphicon glyphicon-menu-right"></span> Все</a></li>
                                    {% for g in groups %}
                                        <li><a href="{{ url_for('blog', group=g.key().id()) }}" {% if group == g.key().id() %}class="activate"{% endif %}><span class="glyphicon glyphicon-menu-right"></span> {{ g.name }}</a></li>
                                    {% endfor %}
                                {% else %}
                                    <li><h3>Групп пока что нету.</h3></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    {% if paginator.object_list %}
                        {% for blog in paginator.object_list %}
                            <div class="panel panel-blog-content" style="background-color: {{ blog.group.color }}">
                                <div class="panel-header"><h3>{{ blog.group.name }}: {{ blog.name }}</h3></div>
                                <div class="panel-body">
                                    <p>
                                        {{ blog.content|safe }}
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    <p>{{ blog.date.strftime('%H:%M %d.%m.%Y') }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="panel panel-blog-content panel-blue">
                            <div class="panel-header"><h2>Постов пока что нету.</h2></div>
                        </div>
                    {% endif %}
                    {% if paginator.has_previous() or paginator.has_next() %}
                    <div class="panel panel-blue centered-text">
                        <div class="pagination">
                            {% if paginator.has_previous() %}
                                <a id="previous" href="{{ url_for('blog', page=paginator.previous_page_number(), group=group) }}">Previous</a>
                            {% else %}
                                <span class="page-nulled">Previous</span>
                            {% endif %}

                            <span class="current" id="pagenum" title="{{ paginator.number }}">&nbsp;&nbsp;&nbsp;Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}&nbsp;&nbsp;&nbsp;</span>

                            {% if paginator.has_next() %}
                                <a  id="next" href="{{ url_for('blog', page=paginator.next_page_number(), group=group) }}"> Next </a>
                            {% else %}
                                <span class="page-nulled">Next</span>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
