{% extends "base.html" %}

{% block title %}Контакти{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="panel panel-own-full panel-purple">
            <div class="panel-header">
                <h1>{{ self.title() }}</h1>
            </div>
            <div class="panel-body">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Email:</td>
                            <td>
                                {% for email in emails %}
                                    <a href="mailto:{{ email.email }}">{{ email.email }}</a><br>
                                {% endfor %}
                            </td>
                        </tr>
                        {% for contact in contacts %}
                            <tr>
                                <td>{{ contact.nameColumn}}</td>
                                <td>{{contact.valueColumn}}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>Мої сторінки в інтернеті:</td>
                            <td>
                                {% for network in networks %}
                                    {% if network.logo %}
                                    {% else %}
                                        <a target="_blank" href="{{ network.url }}">{{ network.name }}</a><br>
                                    {% endif %}
                                {% endfor %}<br>
                                {% for network in networks %}
                                    {% if network.logo %}
                                        <a href="{{ network.url }}" class="btn" target="_blank">
                                            <img src="/logo/{{ network.key() }}" style="height:50px;" title="I'm in {{ network.name }}">
                                        </a><br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        </tbody></table>
                </div>
                <div class="col-md-4"></div>
            </div>
{% endblock %}