{% extends "base.html" %}

{% block title %}Курси які викладаю{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="panel panel-own-full panel-dark-blue">
            <div class="panel-header">
                <h1>{{ self.title() }}</h1>
            </div>
            <div class="panel-body">
                <!--<ol>
                    <li>Правові питання інформаційних технологій (2010 р.)</li>
                    <li>Групова динаміка та комунікації (2010 р.)</li>
                    <li>Нові інформаційні технології та засоби навчання (2010 р.)</li>
                    <li>Інформаційні технології (2015 р.)</li>
                    <li>Основи наукових досліджень (2010 р.)</li>
                    <li>Менеджмент проектів програмного забезпечення (2013 р.)</li>
                    <li>Економіка програмного забезпечення (2013 р.)</li>
                    <li>Людино-машина взаємодія (2014 р.)</li>
                </ol>-->
                {{ article|safe }}

            </div></div></div>
{% endblock %}