{% extends "base.html" %}

{% block title %}Освіта{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="panel panel-own-full panel-dark-blue">
            <div class="panel-header">
                <h1>{{ self.title() }}</h1>
            </div>
            <div class="panel-body">
                <!--<div class="col-md-2"><img src="http://www.penrussia.org/new/uploads/2014/06/IMG_8729.jpg" class="about-img" alt="" align="left" /></div>-->
                <!--<div class="col-md-12">
                    <center><strong>Вищі навчальні заклади</strong></center>
                    <ol><li><a href="http://www.ksau.kherson.ua/"><strong>Херсонський державний аграрний університет</strong></a><br>
                        1998 р., спеціальність "Водні біоресурси та аквакультура", магістр;
                    </li>
                        <li><a href="http://kntu.net.ua/"><strong>Херсонський національний технічний університет</strong></a><br>
                            2005 р., спеціальність «Економіка підприємства», магістр;
                        </li>
                        <li><a href="http://www.kspu.edu"><strong>Херсонський державний університет</strong><br>
                            2014 р., спеціальність 13.00.04 – теорія та методика професійної освіти, аспірантура;</a>
                        </li>
                    </ol>
                </div>
                <div class="col-md-12"><center><strong>Мови</strong></center>
                    <ol><li>Українська
                    </li>
                        <li>Російська
                        </li>
                        <li>Англійська (зі словником)
                        </li>
                    </ol>
                </div>-->
                {{ article|safe }}
            </div>
        </div>
    </div>
{% endblock %}