{% extends "base.html" %}

{% block title %}Головна{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="col-md-3">
        <a href="{{ url_for( 'work' ) }}" class="panel panel-own panel-red tile">
            <div class="panel-header">
                <h2>Моя робота</h2>
            </div>
            <div class="panel-body">
                <p></p>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a href="{{ url_for( 'blog' ) }}" class="panel panel-own panel-blue tile">
            <div class="panel-header">
                <h2>Блог</h2>
            </div>
            <div class="panel-body">
                <p></p>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a href="{{ url_for( 'education' ) }}" class="panel panel-own panel-dark-blue tile">
            <div class="panel-header">
                <h2>Освіта</h2>
            </div>
            <div class="panel-body">
                <p></p>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a href="{{ url_for( 'projects' ) }}" class="panel panel-own panel-purple tile">
            <div class="panel-header">
                <h2>Участь у проектах</h2>
            </div>
            <div class="panel-body">
                <p></p>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a href="{{ url_for( 'my_projects' ) }}" class="panel panel-own panel-red tile">
            <div class="panel-header">
                <h2>Власні проекти</h2>
            </div>
            <div class="panel-body">
                <p></p>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a href="{{ url_for( 'traineeship' ) }}" class="panel panel-own panel-blue tile">
            <div class="panel-header">
                <h2>Стажування</h2>
            </div>
            <div class="panel-body">
                <p></p>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a href="{{ url_for( 'courses' ) }}" class="panel panel-own panel-dark-blue tile">
            <div class="panel-header">
                <h2>Курси які викладаю</h2>
            </div>
            <div class="panel-body">
                <p></p>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <!--<a href="{{ url_for( 'conference' ) }}" class="panel panel-own panel-blue tile">
            <div class="panel-header">
                <h2>Участь у конференція</h2>
            </div>
            <div class="panel-body">
                <p></p>
            </div>
        </a>-->
        <a href="{{ url_for( 'contact' ) }}" class="panel panel-own panel-purple tile">
            <div class="panel-header">
                <h2>Контакти</h2>
            </div>
            <div class="panel-body">
                <p></p>
            </div>
        </a>
        </div>
    </div>
{% endblock %}



