{% extends "base.html" %}

{% block title %}Власні проекти{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="panel panel-own-full panel-blue">
            <div class="panel-header">
                <h1>{{ self.title() }}</h1>
            </div>
            <div class="panel-body">
                <!--<ol>
                    <li><a href="http://www.kspu.edu/FileDownload.ashx/%D0%A0%D0%B8%D1%81%D1%83%D0%BD%D0%BE%D0%BA%20(200).jpg?id=6d3e797c-c3b0-4699-b38f-25e25eeac882">Онлайн репозиторій електронних освітніх ресурсів "Edusoft" - edusoft.kspu.edu;</a></li>
                    <li>Tерра Математика <a href="http://www.kspu.edu/FileDownload.ashx/%D0%A0%D0%B8%D1%81%D1%83%D0%BD%D0%BE%D0%BA%20(199).jpg?id=883bd2f5-9bb6-496c-98e5-f590fec8f977">(Алгебра, 7 клас, Алгебра,8 клас)</a> - <a href="http://edusoft.kspu.edu/versions">edusoft.kspu.edu/versions;</a></li>
                    <li>Сервіс для спеціалізованих вчених рад - <a href="http://phd.kspu.edu">phd.kspu.edu;</a></li>
                    <li>Сайт збірника наукових праць «Інформаційні технології в освіті» - <a href="http://ite.kspu.edu">ite.kspu.edu;</a></li>
                    <li>Сервіс REVIEW - <a href="http://review.ite.kspu.edu">review.ite.kspu.edu;</a></li>
                    <li>Сервіс для підримки курсу Групова динаміка та комунікації - <a href="http://fanat.tk">fanat.tk;</a></li>
                    <li>Комп’ютерна програма <a href="http://www.kspu.edu/FileDownload.ashx/%D0%A1%D0%B2%D1%96%D0%B4%D0%BE%D1%86%D1%82%D0%B2%D0%BE%20%D0%BF%D1%80%D0%BE%20%D1%80%D0%B5%D1%94%D1%81%D1%82%D1%80%D0%B0%D1%86%D1%96%D1%8E%20%D0%B0%D0%B2%D1%82%D0%BE%D1%80%D1%81%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE%20%D0%BF%D1%80%D0%B0%D0%B2%D0%B0%20%E2%84%96%2056110%20%D0%BD%D0%B0%20%D1%82%D0%B2%D1%96%D1%80%20%D0%9A%D0%BE%D0%BC%D0%BF'%D1%8E%D1%82%D0%B5%D1%80%D0%BD%D0%B0%20%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%B0%20%D0%94%D0%BE%D0%B3%D0%BE%D0%B2%D1%96%D1%80%D0%BD%D0%B0%20%D1%80%D0%BE%D0%B1%D0%BE%D1%82%D0%B0%20(%D0%B2%D1%96%D0%B4%2018.08.2014).jpg?id=36fdfd1f-ab1a-4802-a238-94dbbdc997a6">"Договірна робота";</a></li>
                    <li>Автоматична (Аналітична) система рейтингів науковців університету в наукометричних базах -  <a href="http://publication.kspu.edu/">publication.kspu.edu;</a></li>
                    <li>Сайт конференцій університету - <a href="http://conf.kspu.edu/">conf.kspu.edu</a></li>
                </ol>-->
                {{ article|safe }}
            </div>
        </div>
    </div>
{% endblock %}