{% extends "base.html" %}

{% block title %}Участь у проектах{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="panel panel-own-full panel-purple">
            <div class="panel-header">
                <h1>{{ self.title() }}</h1>
            </div>
            <div class="panel-body">

                <!--<ol>
                    <li>На замовлення<br>
                        <ol>
                            <li>2001-2002<br>
                                <ol>
                                    <li><a href="">Програмно-методичний комплекс «Відеоінтерпретатор алгоритмів пошуку та сортування»</a></li>
                                    <li><a href="http://riit.kspu.edu/index.php?q=uk/node/347">Програмне середовище «Системи лінійних рівнянь».</a></li>
                                </ol>
                            </li>
                            <li>2002-2004<br>
                                <ol>
                                    <li><a href="http://riit.kspu.edu/index.php?q=uk/node/348">Програмно-методичний комплекс «ТерМ VII» підтримки практичної навчальної математичної діяльності. Версія 1 реліз 05, версія 2 реліз 03.</a>                               </li>
                                </ol>
                            </li>
                            <li>2005-2006<br>
                                <ol>
                                    <li><a href="http://riit.kspu.edu/index.php?q=uk/node/349">Програмний засіб «Бібліотека електронних наочностей Алгебра 7-9 клас для загальноосвітніх навчальних закладів України».</a></li>
                                </ol>
                            </li>
                            <li>2006-2007<br>
                                <ol>
                                    <li><a href="">5.04.12 Проектування та розроблення Інтернет - технологій і програмного забезпечення дистанційної системи тестування.</a></li>
                                </ol>
                            </li>
                            <li>2007-2008<br>
                                <ol>
                                    <li><a href="">Розроблення інтегрованого середовища вивчення курсу “Основи алгоритмізації та програмування” для вищих навчальних закладів;</a></li>
                                    <li><a href="http://riit.kspu.edu/index.php?q=ru/node/345">Розроблення інтегрованого середовища вивчення курсу «Аналітична геометрія»;</a></li>
                                    <li><a href="http://riit.kspu.edu/index.php?q=ru/node/350">Педагогічний програмний засіб «Алгебра, 7 клас».</a></li>
                                </ol>
                            </li>
                            <li>2008<br>
                                <ol>
                                    <li><a href="http://riit.kspu.edu/index.php?q=ru/node/351">Програмний засіб навчального призначення «Алгебра, 8 клас».</a></li>
                                </ol>
                            </li>
                            <li>2009-2010<br>
                                <ol>
                                    <li><a href="">Створення банку електронних документів з дистанційного навчання для вищої педагогічної освіти;</a></li>
                                    <li><a href="http://riit.kspu.edu/index.php?q=uk/node/344">Розроблення інтегрованого середовища контролю знань студентів з економіко-математичних дисциплін нормативної частини для вищих навчальних закладів для спеціальності 6.050100 «Економіка підприємства», 6.050101 «Економічна теорія»;</a></li>
                                    <li><a href="http://riit.kspu.edu/index.php?q=uk/node/329">Створення Інтернет-порталу дистанційного навчання ECDL для вищих навчальних закладів (ECDL).</a></li>
                                </ol>
                            </li>
                            <li>2015<br>
                                <ol>
                                    <li><a href="">Розроблення системи управління якістю електронних освітніх ресурсів вищих навчальних закладів;</a></li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>Участь у міжнародних проектах<br>
                        <ol>
                            <li>2004-2006<br>
                                <ol>
                                    <li><a href="http://www.kspu.edu/About/DepartmentAndServices/DSAICI/internationalprojects/InternationalProjects/SUNY.aspx">Northern New York and Southern Ukraine:&nbsp;New University Partnership for Business and Economic Development;</a></li>
                                </ol>
                            </li>
                            <li>2009<br>
                                <ol>
                                    <li><a href="http://cenrec.risc.uni-linz.ac.at/portal/">Австрійсько-український проект «CENREC».</a></li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>-->
                {{ article|safe }}
            </div></div></div>
{% endblock %}