{% extends "base.html" %}

{% block title %}Стажування{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="panel panel-own-full panel-red">
            <div class="panel-header">
                <h1>{{ self.title() }}</h1>
            </div>
            <div class="panel-body">
               <!-- <p>2003 рік, ПОЛЬЩА. З 10.05.2003 р. по 18.05.2003 р. у Вищій педагогічній школі м. Ченстахова (Польща)&nbsp;у рамках Угоди про наукове та культурне&nbsp;співробітництво між Херсонським державним університетом та Вищою педагогічною школою. (наказ ХДУ №&nbsp; 327-Д від 07.05.2003 р.)
                    2006 рік, США. Стажування у рамках проекту <a href="http://www.kspu.edu/About/DepartmentAndServices/DSAICI/internationalprojects/InternationalProjects/SUNY.aspx">Northern New York and Southern Ukraine:&nbsp;New University Partnership for Business and Economic Development.</a>  (Наказ ХДУ № 6-В від 22.02.2006р.)</p>
                <center><strong>Професійний досвід:</strong></center>
                <ol>
                    <li><strong>Семінар "Питання управління об"єктами державної власності та майнові питання"</strong><br>
                        Дата проведення:&nbsp;29 -&nbsp;30&nbsp;березня 2012 р., м. Київ (Державне підприємство ВБО)
                    </li>
                    <li><strong>Семінар-практикум «ПІДВИЩЕННЯ WEBOMETRICS РЕЙТИНГУ ВНЗ: ПРАКТИЧНІ ЗАХОДИ». «Три кроки-від новачка до експерта».</strong><br>
                        Дата проведення: 2013 р., м. Київ&nbsp;(Організатором семінару виступило підприємство ПП «Технологічний Центр» (м. Харків). Головний лектор семінару&nbsp; Денис Соловяненко — спеціаліст у галузі наукометрії, вебометрії та інформаційної діяльності, зав. сектору Науково-технічної бібліотеки ім. Г.І. Денисенка Національного технічного університету України “КПІ”, координатор проектів Асоціації УРАН "Наукова періодика України" та "Наука України у дзеркалі наукометричної бази даних SciVerse Scopus", канд. іст. наук.)
                    </li>
                    <li><strong>Семінар&nbsp;&nbsp; «Роль наукових видань в сучасних умовах»</strong><br>
                        Дата проведення: 28 лютого 2013 року, м. Київ (Національний університет харчових технологій спільно з Міністерством освіти і науки, молоді та спорту України)
                    </li>
                </ol>-->
                {{ article|safe }}
            </div></div></div>
{% endblock %}