{% extends "base.html" %}

{% block title %}Моя робота{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="panel panel-own-full panel-red">
            <div class="panel-header">
                <h1>{{ self.title() }}</h1>
            </div>
            <div class="panel-body">
                <!--<div class="col-md-12">
                    <center><strong>Місце роботи та посада</strong></center>
                    <ol><li><a href="http://www.kspu.edu/About/DepartmentAndServices/DContractualWork.aspx?lang=uk"><strong>Херсонський державний університет</strong><br>
                        Керівник відділу господарсько-договірної роботи та виставкової діяльності (2010-)
                        Викладач кафедри інформатики, програмної інженерії та економічної кібернетики (2010 -)</a>
                    </li>
                        <li><a href="http://ite.kspu.edu/"><strong>Збірник наукових праць</strong><br>
                            Відповідальний секретар збірника наукових праць "Інформаційні технології в освіті" (2010-)</a></li>
                        <li><a href="http://www.kspu.edu/About/AcademicCouncil/Specvchenarada.aspx"><strong>Спеціалізована вчена рада</strong></a><br>
                            Технічний секретар спеціалізованої вченої ради К 67.051.02 (2008-)</li>
                        <li><a href=""><strong>Апарат Верховної ради України</strong></a><br>
                            Помічник депутата Верховної ради України Співаковського Олександра Володимировича на громадських засадах (2014-)</li>
                    </ol>
                </div>-->
                {{ article|safe }}
            </div>
        </div>
    </div>
{% endblock %}